.contenedor
{
    background-color: #133742;
    color: white;
    text-align: center;
    margin: 50px;
}
.contenedor2
{
    padding-top: 20px;
    
}
h2
{
    padding-top: 20px;
}
.parrafo1
{
    font-size: 20px;
    text-justify: inter-cluster;
}